name: Vite project deploy to Github Page
on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: macOS-latest

  steps:
    - uses: actions/checkout@v3

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16
    
     - name: install dependencies
       run: npm i

     - name: build
       run: npm run build
    
     - name: deploy to Github Pages
       uses: crazy-max/ghaction-github-pages@v3
       with:
         target_branch: gh-pages
         build_dir: ./dist
       env:
        GITHUB_TOKEN: ${{ secrets.password }}